* { margin: 0; padding: 0; }

html {
  font-family: Helvetica, sans-serif;
}

canvas {
  background: #fff;
}

body {
  background: #2c3e50;
}

#edit button {
  width: 100%;
  background: #ebf0f1;
  line-height: 40px;
  text-transform: uppercase;
  border: none;
  transition: background 200ms;
}

#edit button:hover {
  background: #ffe363;
  cursor: pointer;
}

#edit button:active {
  background: #ebf0f1;
}

#edit button:active, #edit button:focus {
  outline: none;
}
