
@white: #ebf0f1;
@yellow: #ffe363;
@blue: #2c3e50;

* { margin: 0; padding: 0; }

html {
  font-family: Helvetica, sans-serif;
}

canvas {
  background: #fff;
}

body {
  background: @blue;
}

#edit {
  button {
    width: 100%;
    background: @white;
    line-height: 40px;
    text-transform: uppercase;
    border: none;
    transition: background 200ms;

    &:hover {
      background: @yellow;
      cursor: pointer;
    }
    &:active {
      background: @white;
    }
    &:active, &:focus {
      outline: none;
    }
  }
}
